:root{
	--darker-grey: rgb(43, 43, 43);
	--dark-grey: rgb(51, 51, 51);
	--secondary-grey: rgb(135, 135, 135);
	--primary-grey: rgb(170, 170, 170);
	--button-hover: rgb(217, 209, 209);
}

/* FOOTER */

footer {
	display: flex;
	height: auto;
	max-width: 100vw;
	overflow: hidden;
	background: var(--primary-grey);
}

.footer_container {
	display: flex;
	width: 70%;
	min-height: 120px;
}

.side_container {
	margin: 0;
	width: 15%;
	border: none;
}

.inner_footer_container {
	display: block;
	min-width: 200px;
	padding: 1rem;
	margin: 2rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.footer_title {
	font-weight: 800;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.newsletter_container {
	display: flex;
}

#footer_button {
	min-width: 100px;
	max-height: 40px;
	border-radius: 0.5rem;
	border-style: none;
	text-align: center;
	padding: 0.5rem;
	margin-left: 1rem;
	font-size: 1rem;
	background-color: var(--dark-grey);
	color: white;
}

.footer_links {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color:var(--dark-grey);
}


/* END - FOOTER */